" Relative Line Numbers
set relativenumber

" Define Handlers
sethandler <C-A> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:ide
sethandler <C-F> a:ide
sethandler <C-K> a:ide
sethandler <C-S> a:ide
sethandler <C-V> a:ide
sethandler <C-X> a:ide
sethandler <C-Y> a:ide
sethandler <C-T> a:ide

" Remaps
noremap U <C-R>

" Space keymaps
map <Space>s <Action>(SurroundWith)
map <Space>g <Action>(GotoImplementation)
map <Space>f <Action>(ReformatCode)
map <Space>C <Action>(CommentByBlockComment)
map <Space>c <Action>(CommentByLineComment)
map <Space>. <Action>(NextTab)
map <Space>, <Action>(PreviousTab)
map <Space>= <Action>(Forward)
map <Space>- <Action>(Back)
map <Space>h <Action>(HideAllWindows)

map <Space>0 :source ~/.ideavimrc<CR>