" Relative Line Numbers
set relativenumber

" Leader
let mapleader = " "

" Define Handlers
sethandler <C-A> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:ide
sethandler <C-F> a:ide
sethandler <C-K> a:ide
sethandler <C-S> a:ide
sethandler <C-V> a:ide
sethandler <C-X> a:ide
sethandler <C-Y> a:ide

" === LSP-like mappings ===
map <leader>gf <Action>(ReformatCode)
map K <Action>(QuickJavaDoc)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gr <Action>(FindUsages)
map <leader>ca <Action>(ShowIntentionActions)

" === Telescope-like mappings ===
map <leader>ff <Action>(GotoFile)
map <leader>fo <Action>(RecentFiles)
map <leader>fg <Action>(FindInPath)
map <leader>fb <Action>(Switcher)
map <leader>fe <Action>(FileStructurePopup)

" Reload .ideavimrc
map <leader>0 :source ~/.ideavimrc<CR>