[user]
	email = 26822321+TheExeQ@users.noreply.github.com
	name = Samuel Ryberg
	signingkey = ~/.ssh/git_signing.pub
[pull]
	rebase = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
